#lineGraph{
   /* box-shadow: 9px 10px 5px grey;
   margin-bottom: 40px;
   margin-top: 20px;
   border: 1px solid black; */
}

.comboGraphDiv{
   height: 260px;
   box-shadow: 9px 10px 5px grey;
   margin-bottom: 40px;
   margin-top: 20px;
   border: 1px solid black;
}

.trends{
   margin: 5px;
   margin-top: -14px;
   margin-bottom: -14px;
}