section{
   display: flex;
}

.comboSeason{
   height: 250px;
   margin-bottom: 8px;
}

.comboLifetime{
   height: 275px;
   margin-bottom: 10px;
}

#goldButton{
   background-color: gold;
   height: 29px;
   box-shadow: 9px 10px 5px grey;
}

#otherButton{
   background-color: dodgerblue;
   height: 29px;
   box-shadow: 9px 10px 5px grey;
}

.buttons{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 20px;
}

#refresh{
   height: 29px;
   float: right;
   background-color: #00631cf5;
   margin-right: 8px;
}

.graphsDiv{
   margin-bottom: 40px;
}

.fairwayChart{
   height: 250px;
}

.breakdownHeader{
   text-shadow: 5px 5px 5px grey;
}