table{ 
   border-collapse: collapse; 
   /* width: 80%; */
   /* margin-top: 25px; */
   /* margin-bottom: 30px; */
   display: table-cell;
   box-shadow: 9px 10px 5px grey;
}

table, th, td{ border: 1px solid black; }

th{ 
   transform: rotate(-80deg);
   /* background-color: goldenrod; */
   height: 65px;
   padding: 0;
   
}

.button{
   display: flex;
   justify-content: center;
   margin-top: 4px;
   margin-bottom: 15px;
   height: 29px;
}

#editBtn{
   background-color: dodgerblue;
   box-shadow: 9px 10px 5px grey;
   margin-right: 2px;
}
#deleteBtn{
   box-shadow: 9px 10px 5px grey;
   color: black;
}

#dateId{
   text-shadow: 5px 5px 5px grey;
}

.displayRound{
   /* display: flexbox;
   justify-content: center; */
   margin-left: 4px;
}

.holesCell{
   background-color: #00631cf5;
   color: white;
}

.handicapCell{
   background-color: rgba(77, 211, 90);
}

.puttsCell{
   background-color: rgba(200, 80, 0);
}

.approachCell{
   background-color: rgba(20, 25, 199);
   color: floralwhite;
}

.fairwaysCell, .possibleCell{
   background-color: rgba(252, 181, 13);
}