form{
   text-align: center;
}

.submitHeader{
   background-color: #00631cf5;
   margin: -5px;
   padding: 9px;
   color: floralwhite;
   margin-bottom: 18px;
}

label{
   text-shadow: 9px 10px 5px grey;
}

#dateInput{
   width: 69px;
   box-shadow: 9px 10px 5px grey;
   border: outset;
}

#holesInput{
   width: 16px;
   box-shadow: 9px 10px 5px grey;
   border: outset;
}

#scoreInput{
   width: 155px;
   box-shadow: 9px 10px 5px grey;
   border: outset;
}

#puttsInput{
   width: 68px;
   box-shadow: 9px 10px 5px grey;
   border: outset;
}

#approachInput{
   width: 167px;
   box-shadow: 9px 10px 5px grey;
   border: outset;
}

#fairwayInput{
   width: 129px;
   box-shadow: 9px 10px 5px grey;
   border: outset;
}

#possibleInput{
   width: 145px;
   box-shadow: 9px 10px 5px grey;
   border: outset;
   margin-bottom: 30px;
}

#submitBtn{
   background-color: dodgerblue;
   margin-right: 2px;
   height: 29px;
   box-shadow: 9px 10px 5px grey;
   position: static;
}

#clearBtn{
   background-color: mediumorchid;
   margin-right: 2px;
   height: 29px;
   box-shadow: 9px 10px 5px grey;
   position: static;
}

#cancelBtn{
   margin-right: 2px;
   height: 29px;
   color: black;
   box-shadow: 9px 10px 5px grey;
   position: static;
}