.dashboardHeader{
   background-color: #00631cf5;
   margin: -5px;
   padding: 9px;
   color: floralwhite;
}

.golfIcon{
   float: right;
   height: 48px;
   margin-right: -5px;
   margin-top: -5px;
}