.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background-color:#00631cf5;
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color:black;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  font-size: 18px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
  border-bottom: dotted gold 2px;
}

.nav-link:hover {
  background-color: #00631cf5;
}

.nav-right {
  float: right;
  /* background-color: black; */
  display: grid;
  width: 100%;

}

.top-button{
  border-top: dotted gold 2px;
}

.hamburger-right{
  float: right;
  padding: 25px;
}