.nav-title {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  /* color: #f2f2f2; */
  color: floralwhite;
  padding-left: 10px;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
  text-shadow: none;
  margin-top: 13px;
  margin-bottom: 13px;
}

.nav {
  margin: 0 -5px 0px;
  /* background-color:#002b0bf5; */
  background-color:black;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color:black;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  font-size: 18px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
  border-bottom: solid gold 1px;
}

.nav-link:hover {
  background-color: #00631cf5;
}

.nav-right {
  /* float: right; */
  /* background-color: black; */
  display: grid;
  width: 100%;
  /* animation-name: example;
  animation-duration: 500ms; */
}

@keyframes example {
  0%   {left:200px; top:0px;}
  33%  {left:0px; top:200px;}
  67%  {left:200px; top:200px;}
  100%  {left:0px; top:0px;}
}

.top-button{
  border-top: solid gold 1px;
}

.hamburger-right{
  /* float: right;
  padding: 25px; */
}

#hamburgerButton{
  float: right;
  padding: 16px;
  color: floralwhite;
}